<html>
<head>
	<title></title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
	<body ng-app='toDoListModule' class='container'>
		<div class='row'>
			<div ng-controller="listController as main">
				<div class='col-xs-12 text-center'>
					<h1> My To-Do List </h1>
				</div>
				<div class='col-xs-6 col-xs-offset-3'>
						
						<div class='choreBox' ng-repeat="item in main.listItems | filter: filteredItems track by $index">

							<h5>{{item.item}}</h5> 

							<button type='button' class='btn btn-danger rightButton' ng-click='main.removeItem($index)'>Remove</button>

							<button type='button' class='btn btn-info rightButton' ng-click='main.showDetails($index)'>More Info</button>

				
						</div>
						
						
					

					
					<form>
						<input class="makeBlock someMargin" id="toDoInput" type='text' ng-model="main.toDoThing" placeholder="Task"/>
						<input class="makeBlock someMargin" id="choreDate" type='date' ng-model='main.date'/>
						<input class="makeBlock someMargin" id="choreTime" type='text' ng-model='main.times' placeholder="Due Time"/>
						<input class="makeBlock someMargin" id="choreNotes" type='text' placeholder="Notes" ng-model='main.notes' />

						<button ng-click='main.adding()'>Add Thing To Do!</button>
						<input class="makeBlock someMargin" id="filterInput" type='text' ng-model='filteredItems' placeHolder="Search"/>
					</form>

				</div>
				<div class='col-xs-3'>
					<p id='detail'></p>
				</div>

			</div>
		</div>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src='app.js'></script>
</body>
</html>